body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
	/* эта секция для того, чтобы не было горизонтального смещения в блоках с заданным параметром float */
}

div {
	box-sizing: border-box; /* это для того, чтобы padding не влиял на общий размер элемента */
}

.container {
	width: 930px;
	margin: 0 auto;
}

#services {
	padding-bottom: 120px;
}

#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}

#about {
	padding-bottom: 120px;
}

#event__section {
	padding-bottom: 120px;
}

footer {
	padding-bottom: 120px;
}

/* Хэдер */

header {
	background: url("../img/first-bg.jpg") no-repeat center top / cover;
	padding-bottom: 160px;
}

.logo {
	margin-top: 41px;
	float: left;
}

nav {
	margin-top: 50px;
	float: right;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles__first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.section__title {
	padding-top: 115px;
}

.section__title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.section__title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;

}

/* Секция Services */ 

.services {
	margin-top: 50px;
}

.services__item {
	width: 270px;
	float: left;
	text-align: center;

}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

/* Секция Potrfolio */

.works {
	margin-top: 70px;
}

.works img {
	float: left;
}

.works img:nth-child(2) {
	margin-left: 29px;
}

.works img:last-child {
	float: right;
}

/* Секция About Us */

.event__section {
	margin-top: 80px;
}

.event div {
	margin-bottom: 93px;
}

.event h3 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.uppercase {
	text-transform: uppercase;
}


.event p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
}

.left__text {
	float: left;
	width: 284px;
	text-align: right;
	margin-left: 42px;
}

.left__img {
	float: right;
	margin-right: 374px;
}

.right__text {
	float: right;
	width: 284px;
	text-align: left;
	margin-right: 42px;
}

.right__img {
	float: left;
	margin-left: 373px;
}

/* какая-то хуйня! */ 

#about3 {
	float: right;
	margin-right: 48px;
}

footer {
	font-size: 14px;
	color: #777777;
	text-align: center;
}

#toTop {
width:100px;
height:100px;
border:0px solid #ccc;
border-radius: 50%;
background: #fed136;
text-align:center;
padding:5px;
padding-top: 40px;
position:fixed;
bottom:75px; /* отступ кнопки от нижнего края страницы*/
right:75px;
cursor:pointer;
display:none;
color: #484543;
font-family:Arial;
font-size:18px;
font-weight: bold;
}

/* .button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
} */