@font-face {
	font-family: "Gotham - Book";
	src:
		local('Gotham - Book'),
		local('Gotham-Book') ,
		local('Gotham'),
		url(../fonts/gotham-book.ttf);
}

@font-face {
	font-family: "Myriad Pro";
	src:
	    local('Myriad Pro'),
	    local('MyriadPro-Regular'),
	    url('../fonts/myriad-pro-regular.otf');
}

@font-face {
	font-family: "Roboto";
	src:
		local('Roboto'),
		local('Roboto Regular'),
		local('Roboto-Regular'),
		url('../fonts/roboto-regular.ttf');
}

/* css-reset start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css-reset over */

img {
	max-width: 100%;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

html {
    margin:    0 auto;
    width: 1600px;
    background: url(../img/bgtile.jpg) repeat 0 0;
    box-shadow: 0px 0px 100px 5px rgba(0,0,0,0.75);
}

.container {
	width: 1178px;
	margin: 0 auto;
}


div {
	box-sizing: border-box;
}

body {
	font-family: "Gotham - Book", Arial, sans-serif;
	padding: 0;
	margin: 0;
}

header {
	background: url("../img/header-bg.jpg") no-repeat center top / cover;
	padding-bottom: 109px;
}

.heading {
	height: 840px;
}

.logo {
	float: left;
	margin-top: 22px;
	width: 67px;
	height: 67px;
	background-color: #11749e;
	box-shadow: 12px 8px 0 0 rgba(255,255,255,0.75);
}

.logo p {
	position: relative;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	color: #f5f5f5;
	font-family: "Myriad Pro", sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

nav {
	float: right;
	margin-right: 30px;
	margin-top: 56px;
	list-style: none;
	display: block;
}

.menu {
	position: relative;
	padding: 0;
	margin: 0;
	display: block;
}
.menu li {
	display: inline-block;
	color: #ffffff;
	font-family: "Myriad Pro", Arial, sans-serif;
	font-size: 15px;
	padding-left: 36px;
	opacity: 0.85;
}

.menu a {
	text-decoration: none;
	color: #ffffff;
	padding-bottom: 37px;
}

.menu a:hover {
	color: #1599d1;
	transition: color 0.2s;
	border-bottom: 6px solid #11749e;
}

.socials {
	display: inline;
	margin-top: 54px;
	float: right;
}

.socialimg {
	margin-left: 22px;
}

.socialimg:hover {
	opacity: 0.5;
	transition: opacity 0.2s;
}

.whiteline {
	position: absolute;
	top: 116px;
	width: 1600px;
	height: 1px;
	opacity: 0.38;
	background: white;
}


.first__title {
	padding-top: 360px;
	margin-left: auto;
    margin-right: auto;
}

.first__title h1 {
	margin: 0 auto;
	text-align: center;
	color: #f5f5f5;
	font-family: "Gotham - Book", Helvetica, sans-serif;
	font-size: 153px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: -5px;
	}

.first__title p {
	padding-left: 23px;
	margin-top: 20px;
	color: #11749e;
	font-family: "Gotham - Book", Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 17px;
	text-align: center;
}

.scrolldown {
	margin-top: 120px;
	margin-left: 50%;
	transform: translate(-50%);
	text-align: center;
	color: #ffffff;
	font-family: "Gotham - Book", sans-serif;
	font-size: 13px;
	font-weight: 400;
}



#scrolldown__circle div {
	position: relative;
	display: inline-block;
	margin-top: 22px;
	left: 50%;
	transform: translate(-50%);
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 1px solid #ffffff;
	background: rgba(0,0,0,0);
}

#scrolldown__circle a div::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 5px solid #fff;
	border-bottom: 5px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

#features {
	height: 838px;
	background: #11749e;
}

div #section1 {
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0;
}

.big__letter {
	opacity: 0.18;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 247px;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 210px;
	text-transform: uppercase;
	text-align: center;
}

.section__features.big__letter {
	margin: 0 auto;
	margin-top: 240px;
}

.section__title {
	color: #ffffff;
	font-family: "Gotham - Book", sans-serif;
	font-size: 38px;
	font-weight: 500;
	line-height: 45px;
	text-transform: uppercase;
}

#section1 {
	position: absolute;
	float: left;
	left: 50%;
	transform: translate(-50%);
	top: -130px;
}

.section__desc {
	text-transform: none;
}

.features__items {
	float: left;
	margin-top: -120px;
}

.features__item {
	display: inline-block;
	width: 258px;
	height: : 266px;
	margin-right: 43px;
}

.features__item:nth-child(4) {
	margin: 0;
}

.features__item h3 {
	color: #ffffff;
	font-family: "Gotham - Book", sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-shadow: 0px 0px 1px white;
/*	line-height: 36px;*/
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 33px;
}

.features__item p {
	width: 258px;
	height: 66px;
	overflow: hidden;
	color: #ffffff;
	font-family: "Gotham - Book", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	opacity: 0.75;
}

.features__circle {
	width: 133px;
	height: 133px;
	border-radius: 50%;
	background-color: #2e85aa;
	margin: 0 auto;
	margin-bottom: 24px;
}

.features__circle img {
	float: left;
	margin-top: 40%;
	margin-left: 40%;
	transform: translate(-50% -50%);
}

#features__item01 + #features__item02 + #features__item03 {
	float: left;
}

#features__item04 {
	float: right;
}

#pages__black {
	height: 474px;
	background-color: #222222;
}

.pages__black {
	float: left;
	margin-top: 105px;
	color: #fff;
}

.date {
	white-space: pre;
	font-family: "Gotham - Book", sans-serif;
	font-size: 13px;
	font-weight: 400;
/*	line-height: 24px;*/
	margin-bottom: 16px;
}

.article__title {
	font-family: "Gotham - Book";
	font-size: 25px;
	font-weight: bold;
/*	line-height: 36px;*/
	text-transform: uppercase;
	margin-bottom: 33px;
}

.article__text {
	width: 470px;
	height: 158px;
	font-family: "Gotham - Book";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}


#news1 {
	float: right;
}

#pages__white {
	height: 474px;
	background-color: #f3f3f3;;
}

.pages__white {
	margin-top: 105px;
	float: left;
	margin-left: 78px;
	color: #000;
}

#news2 {
	float: left;
}

/* blog section */

#blog {
	height: 1017px;
	background: #fff;
	position: relative;
}

.section__blog {
	color: #222222;
}

.big__letter.section__blog {
	position: relative;
	top: 88px;
	left: 50%;
	transform: translate(-50%);
}

.section__title.section__blog {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 16%;
	font-weight: bold;
	font-family: "Gotham - Book";
}

.section__desc.section__blog {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 30%;
	font-family: "Gotham - Book";
	font-size: 30px;
	font-weight: 400;
	line-height: 37px;
	text-align: center;
}

.blog__items {
	position: absolute;
	display: inline-block;
	margin-top: 13%;
}

.blogitem {
	height: 498px;
	width: 270px;
	float: left;
	margin-right: 29px;
}

.blogitem h3 {
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #11749e;
	font-family: "Gotham - Book";
	font-size: 18px;
	font-weight: bold;
}

.blogitem p {
	margin-top: 22px;
	text-align: center;
	color: #222222;
	font-family: "Gotham - Book";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.blogitem:last-child {
	float: right;
}

#filler__section {
	height: 355px;
	background-color: #11749e;
}

.filler__section {
	position: relative;
	padding-top: 5%;
}

.filler__section img {
	display: block;
	float: left;
}

.filler__section p {
	display: block;
	position: absolute;
	margin-left: 100px;
	margin-top: -10px;
	width: 450px;
	height: 86px;
	color: #ffffff;
	font-family: "Gotham - Book";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

#left__article {
	position: relative;
	float: left;
}

#right__article {
	float: left;
	margin-left: 550px;
}

/* app section */

#app {
	height: 850px;
	background: url(../img/phone-bg.jpg) no-repeat center;
}

#app img {
	float: right;
	margin-top: 9%;
	margin-right: 7%;
}

.app {
	position: relative;
	left: 12px;
	float: left;
}

.app h2 {
	padding-top: 49%;
	color: #ffffff;
	font-family: "Gotham - Book";
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
}

.app p {
	padding-top: 6%;
	padding-bottom: 16%;
	width: 470px;
	height: 86px;
	color: #ffffff;
	font-family: "Gotham - Book";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.bluebars {
	display: block;
	margin-bottom: 24px;
	width: 370px;
	height: 38px;
	background-color: #11749e;
}

.bluebars:nth-of-type(2) {
	width: 400px;
}

.bluebars:last-child {
	width: 430px;
}

.bluebars span {
	position: absolute;
	color: #ffffff;
	font-family: "Gotham - Book";
	font-size: 15px;
	font-weight: 550;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px white;
	margin-left: 4.5%;
	margin-top: 2.5%;
}

/* team section */

#team {
	height: 945px;
	background: #fff;
}

.team .section__title {
	color: black;
}

.big__letter.section__team {
	position: relative;
	top: 60px;
	opacity: 0.18;
	color: #222222;
	font-family: "Roboto";
	font-size: 247px;
	font-weight: bold;
	text-transform: uppercase;
}

.section__title.section__team {
	text-align: center;
	margin-top: -70px;
	font-weight: bold;
	font-family: "Gotham - Book";
}

.section__desc.section__team {
	margin-top: 10%;
	font-family: "Gotham - Book";
	font-size: 30px;
	font-weight: 400;
	line-height: 37px;
	text-align: center;
}


.photo {
	display: block;
	float: left;
	margin: 0;
	margin-top: 6%;
	margin-right: 30px;
}

.photo:last-child {
	float: right;
	margin-right: 4px;
}

.nameplate {
	position: absolute;
	float: left;
	width: 216px;
	height: 117px;
	background-color: #fff;
	margin-left: 30px;
	margin-top: -55px;
}

.nameplate h3 {
	position: relative;
	color: #11749e;
	font-family: "Gotham - Book";
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	top: 20px;
}

.nameplate p {
	position: relative;
	color: #000000;
	font-family: "Gotham - Book";
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	top: 30px;
}

/* contact section */

#contact {
	height: 850px;
	background: url(../img/project-bg.jpg) no-repeat center;
}

.big__letter.section__contact {
	position: relative;
	top: 130px;
	opacity: 0.18;
	font-family: "Roboto";
	font-size: 247px;
	font-weight: bold;
	text-transform: uppercase;
}

.section__title.section__contact {
	text-align: center;
	font-weight: bold;
	font-family: "Gotham - Book";
}

/* contact form */

.form {
	position: relative;
	top: 150px;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
	font-family: "Gotham - Book";
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.3px;
    color: #fff;
    background: rgba(0,0,0,0);
    padding: 0px 15px;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
}

textarea {
    padding: 10px 15px;
    min-height: 130px;
    resize: none;
    margin-top: 40px;
	width: 96.5%;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    border: 1px solid #ffffff;
    opacity: 1;
}

.input {
	width: 28.7%;
	height: 48px;
	margin-right: 25px;
}

.input:last-of-type {
	position: absolute;
}

.submit {
	border: none;
    display: block;
    padding: 10px 35px;
    margin: 0 auto;
   	margin-top: 40px;
	width: 227px;
	height: 64px;
	background-color: #11749e;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    color: #FFF;
    text-transform: uppercase;
	font-family: "Gotham - Book";
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
}

.submit:hover {
    opacity: 0.8;
}

/* footer */

footer {
	margin-top: -2px;
	height: 115px;
	background-color: #222222;
}

footer p {
	letter-spacing: 0.26px;
	margin-top: 4.6%;
	margin-left: 9px;
	float: left;
	color: #ffffff;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
}

footer img {
	float: right;
	margin-top: 3.7%;
	margin-right: 10px;
}


/*------------------------------------*\
	Back to top
\*------------------------------------*/

#back-to-top {
  	display: none;
  	position: fixed;
  	bottom: 40px;
  	right: 40px;
  	width: 50px;
  	height: 50px;
  	line-height: 50px;
  	text-align: center;
  	background: #11749e;
  	color: #FFF;
  	z-index: 9999;
  	cursor: pointer;
}

#back-to-top:after {
    content: "\f106";
    font-family: 'FontAwesome';
}

#back-to-top:hover {
    opacity: 0.8;
}

/*------------------------------------*\
	Preloader
\*------------------------------------*/


#preloader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    z-index: 99999;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.preloader span {
    display: inline-block;
    background-color:  #11749e;
    width: 25px;
    height: 25px;
    -webkit-animation: 1s preload ease-in-out infinite;
            animation: preload 1s ease-in-out infinite;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    border-radius:50%;
}

.preloader span:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.preloader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.preloader span:nth-child(3) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
}

.preloader span:nth-child(4) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

@-webkit-keyframes preload {
	0% {
	   -webkit-transform:scale(0);
	           transform:scale(0);
	}
  50% {
    -webkit-transform:scale(1);
            transform:scale(1);
  }
  100% {
    -webkit-transform:scale(0);
            transform:scale(0);
  }
}

@keyframes preload {
	0% {
	   -webkit-transform:scale(0);
	           transform:scale(0);
	}
  50% {
    -webkit-transform:scale(1);
            transform:scale(1);
  }
  100% {
    -webkit-transform:scale(0);
            transform:scale(0);
  }
}
